#create-swit
= form_for @swit, :url => { :controller => 'swits', :action => 'create'}, :html => { :method => :post }, remote: true do |f|
  %h3 Create Swit

  .swit-post
    = f.label :post
    = f.text_area :post, class: "swit-create"
  .swit-submit
    = f.submit 'Swit'
  
  - if @swit.errors.any?
    #error_explanation
      %h2= "#{pluralize(@swit.errors.count, "error")} prohibited this swit from being saved:"
      %ul
        - @swit.errors.full_messages.each do |message|
          %li= message