#create-swit
  = form_for @swit, :url => { :controller => 'swits', :action => 'create'}, :html => { :method => :post, :class => "ui form" }, remote: true do |f|
    = f.label "CREATE SWIT", class: "createswit-label"
    = f.text_area :post, placeholder: "What's sweet?", rows: "4"
    .swit-submit
      = f.submit 'Swit', class: "ui teal button createswit-btn"
    
    - if @swit.errors.any?
      #error_explanation
        %h2= "#{pluralize(@swit.errors.count, "error")} prohibited this swit from being saved:"
        %ul
          - @swit.errors.full_messages.each do |message|
            %li= message