%div.swit{:id => "swit#{@swit.id}"}
	.swit-nametag
		.swit-name
			= @swit.user.first_name
			= @swit.user.last_name

		.swit-username
			@
			= @swit.user.username
	%div.swit-post
		= @swit.post
	%div.swit-timestamp
		= time_ago_in_words(@swit.created_at) 
		ago
	%div.swit-functions
		.swit-function
			%button.show-comments
				%i.icon.comment
			= link_to :controller => 'swits', :action => 'show', :id => @swit.id, :remote => true do
				%i.icon.comment

			Reply
			= @swit.comments.count
		.swit-function
			= button_to '<3', {:controller => 'swits', :action => 'update', :id => @swit.id}, method: :put, params: {:mode => 'sweet'}, class: "sweet_btn", remote: true
			Sweet
			.swit-sweetcount{:id => "count#{@swit.id}"}
				= @swit.sweets.count
		.swit-function
			= button_to "<3", {:controller => 'swits', :action => 'update', :id => @swit.id}, method: :put, params: {:mode => 'sour'}, remote: true
			Sour
			.swit-sourcount{:id => "count#{@swit.id}"}
				= @swit.sours.count		
		