%div.swit{:id => "swit#{@swit.id}"}
	.swit-nametag
		.swit-name
			= @swit.user.first_name
			= @swit.user.last_name

		.swit-username
			@
			= @swit.user.username
	%div.swit-contents
		%div.swit-post
			- @str_ind =  @swit.post =~ /{[^{}]+}/
			- @content = @swit.post
			- while @str_ind != nil do
				- if @str_ind != 0
					= @content[0..@str_ind-1]
				- @match = @content[/{[^{}]+}/]
				= link_to :controller => 'swits', :action => 'index', :to_match => "#{@match}", class: "doortags" do
					= @match
				- @next_ind = @str_ind + @match.length
				- @content = @content[@next_ind..-1]
				- @str_ind = @content =~ /{[^{}]+}/
			= @content
		%div.swit-timestamp
			= time_ago_in_words(@swit.created_at) 
			ago
		%div.swit-functions
			.swit-function
				= link_to :controller => 'swits', :action => 'show', :id => @swit.id, data: { swit: @swit, id: @swit.id }, :remote => true, class: "ui labeled button" do
					.ui.blue.button.show-comments{ data: { swit: @swit, id: @swit.id }}
						&nbsp;
						%i.icon.angle.double.down
						%span.swit-repliescount{:id => "count#{@swit.id}"}
							= @swit.comments.count
						&nbsp;
						- if @swit.comments.count > 1
							Comments
						- else
							Comment
						&nbsp;
			.swit-function
				= button_to swit_path(:action => 'update', :id => @swit.id), :method => :put, params: {:mode => 'sweet'}, :remote => true, class: "ui labeled button" do
					- if @swit.sweets.where("sweeter_id = ?", session[:user_id]).empty?
						.ui.button.sweets-box
							%i.icon.map.pin
							Sweets
					- else
						.ui.button.sweets-box.sweetened
							%i.icon.map.pin
							Sweets

					%a.ui.basic.left.pointing.label.sweets-num
						.swit-sweetcount{:id => "count#{@swit.id}"}
							= @swit.sweets.count
			.swit-function
				= button_to swit_path(:action => 'update', :id => @swit.id), :method => :put, params: {:mode => 'sour'}, :remote => true, class: "ui labeled button" do
					- if @swit.sours.where("sourer_id = ?", session[:user_id]).empty?
						.ui.button.sours-box
							%i.icon.lemon
							Sours
					- else
						.ui.button.sours-box.soured
							%i.icon.lemon
							Sours
					%a.ui.basic.left.pointing.label.sours-num
						.swit-sourcount{:id => "count#{@swit.id}"}
							= @swit.sours.count