.swit-big
	.swit-big-header
		%span.swit-big-name
			= "#{@swit.user.first_name} #{@swit.user.last_name}"
		%br/
		= "@#{@swit.user.username}"
	.swit-big-content
		- @str_ind =  @swit.post =~ /{[^{}]+}/
		- @content = @swit.post
		- while @str_ind != nil do
			- if @str_ind != 0
				= @content[0..@str_ind-1]
			- @match = @content[/{[^{}]+}/]
			= link_to :controller => 'swits', :action => 'index', :to_match => "#{@match}", class: "doortags" do
				= @match
			- @next_ind = @str_ind + @match.length
			- @content = @content[@next_ind..-1]
			- @str_ind = @content =~ /{[^{}]+}/
		= @content
	.swit-big-timestamp
		= time_ago_in_words(@swit.created_at) 
		ago

	%div.swit-functions
		.swit-function
			= button_to swit_path(:action => 'update', :id => @swit.id), :method => :put, params: {:mode => 'sweet'}, :remote => true, class: "ui labeled button" do
				.ui.button.sweets-box
					%i.icon.map.pin
					Sweets
				%a.ui.basic.left.pointing.label
					.swit-sweetcount{:id => "count#{@swit.id}"}
						= @swit.sweets.count
		.swit-function
			= button_to swit_path(:action => 'update', :id => @swit.id), :method => :put, params: {:mode => 'sour'}, :remote => true, class: "ui labeled button" do
				.ui.button.sours-box
					%i.icon.lemon
					Sours
				%a.ui.basic.left.pointing.label
					.swit-sourcount{:id => "count#{@swit.id}"}
						= @swit.sours.count

.write-comment
	.create-comment
		= form_for @comment, :url => { :controller => 'comments', :action => 'create', :swit_id => @swit.id }, :html => {:class => "ui form", :method => :post }, remote: true do |f|
			.ui.grid
				#comment-field.ui.twelve.wide.column.field
					.ui.input
						= f.text_area :content, rows: 1,  placeholder: "Write comment",  class: "comment-textarea"
				.ui.four.wide.column.field
					= f.submit 'Create Comment', class: "ui fluid large blue button createcomm-btn"

.comments
	- @swit.comments.each do |c|
		- @comment = c
		= render :partial => 'comments/comment'
