#user-profile
	#profile-name
		Name:
		= "#{@user.first_name} #{@user.last_name}"
	#profile-birthday
		Birthay: 
		= @user.birthday
	#profile-bio
		Bio:
		= @user.bio

	- if @user.id == session[:user_id]
		#change-profile
			= link_to edit_profile_path(:id => session[:user_id]), :remote => true, class: "ui button" do
				Edit Profile

	= render :partial => 'users/edit_profile'
