#loginpage.ui.middle.aligned.center.aligned.grid
    #login-panel.column.six.wide
        #login-hide.middle.aligned
            Get access to the sweetest swits right now.
        #login-box
            %h2.login-header 
                Switter.
            = form_for :login, :url => { :controller => 'login', :action => 'create'}, :html => {:class => "ui form left aligned", :method => :post }, class: "ui large form login-form", remote: true do |f|
                .ui.stacked.segment
                    .field
                        .ui.left.icon.input
                            %i.icon.user
                            = f.text_field :username, placeholder: "Username", class: "ui fluid login-field"

                    .field
                        .ui.left.icon.input
                            %i.icon.lock
                            = f.password_field :password, placeholder: "Password", class: "login-field"

                    .form-errors{:style => "color: red; margin-bottom: 10px;"}
                    = f.submit "LOG IN", class: "ui submit fluid large teal button"

            .ui.message
                No account yet?
                %a#signup-link Sign Up
    #signup-panel.column.six.wide
        #signup-hide.middle.aligned
            Know the latest swits.
        #signup-box
            %h2.login-header 
                Sign up.
            = form_for @user, :url => { :controller => 'users', :action => 'create'}, :html => {:class => "ui form", :method => :post}, remote: true do |u|

                .ui.stacked.segment
                    %h4.ui.dividing.header Create Account
                    %label{ :style => "font-weight: bold;"} Name
                    .two.fields
                        .field
                            .ui.input
                                = u.text_field :first_name, placeholder: "First Name", class: "login-field"
                        .field
                            .ui.input
                                = u.text_field :last_name, placeholder: "Last Name", class: "login-field"
                    .field
                        %label Username
                        .ui.input
                            = u.text_field :username, placeholder: "Username", class: "login-field"
                
                    .field
                        %label Password
                        .ui.input
                            = u.password_field :password, placeholder: "Password", class: "login-field"
                    .field
                        %label Email Address
                        .ui.input
                            = u.text_field :email, placeholder: "Email Address", class: "ui fluid login-field"
                    .field
                        %label Birthday
                        .ui.input
                            = u.date_select :birthday, class: "login-field"
                    .field
                        %label Bio
                        .ui.input
                            = u.text_area :bio, placeholder: "Describe yourself", rows: "2", class: "login-field"

                    .form-errors{:style => "color: red; margin-bottom: 10px;"}
                    = u.submit "SIGN UP", class: "ui fluid large teal button"

            .ui.message
                Already have an account?
                %a#login-link Log In


