.ui.grid
	#left-panel.four.wide.column
		- if @user.id == session[:user_id]
			= render 'swits/form'
	#center-panel.eight.wide.column
		= render 'users/profile'
		#profile-swits
			%h4 
				= "#{@user.first_name}'s Swits"
			- if @swits != nil
				- @swits.each do |s|
					- @swit = s
					= render :partial => 'swits/view_swits'
					= render :partial => 'comments/switandcomments'
			- else
				%h4 No swits yet.