<!DOCTYPE html>
<html>
  <head>
    <title>Switter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if current_page?(:controller => 'login', :action => 'index') %>
		<%= yield %>
  	<% else %>
  		<div id="home-nav">
			<h1>
			Switboard
			</h1>
			<%= link_to 'Home', home_index_path %>
			<%= link_to 'Notifications', @home %>
			<%= link_to 'Profile', { :controller => 'profile', :action => 'show', :id => session[:user_id]} %>

			<%= button_to home_path(:action => 'destroy', :id => session[:user_id]), :method => :delete, class: "ui animated button" do %>
				<div class="visible content">Log Out</div>
				<div class="hidden content">
			    	<i class="sign out icon"></i>
				</div>
			<% end %>
		</div>
    	<%= yield %>
    <% end %>
  </body>
</html>
